<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028175627420-uc2um46bvsrtjuh662l9g8j8d0gbbric.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028175627420-uc2um46bvsrtjuh662l9g8j8d0gbbric</string>
	<key>API_KEY</key>
	<string>AIzaSyCKyK7PH0ENZM3rSqvFBUnLufdR8NSoiwE</string>
	<key>GCM_SENDER_ID</key>
	<string>1028175627420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.a01337242.itesm.trainverse</string>
	<key>PROJECT_ID</key>
	<string>trainverse-68b56</string>
	<key>STORAGE_BUCKET</key>
	<string>trainverse-68b56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028175627420:ios:36836e3e40807591de9959</string>
	<key>DATABASE_URL</key>
	<string>https://trainverse-68b56.firebaseio.com</string>
</dict>
</plist>